
<div class="header-container">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="LOGO">
    </div>
    <div class="center-header">
        <div class="top-header">
            <mat-form-field class="input-search" appearance="outline" size="small">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" [(ngModel)]="value" maxlength="256" placeholder="Đồ ăn vặt ...">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="bottom-header"></div>
    </div>
    <div class="right-header">
        <button mat-button class="cart-button">Cart</button>
        <button mat-button class="login-button">Login</button>
        <button mat-button class="login-button">Sign up</button>
    </div>
</div>